.weatherForecast {
  margin: 20px;
}

.errorText {
  color: red;
  margin: 5px;
}

.cityButton {
  background-color: rgb(227, 227, 227);
  color: black;
  border-radius: 5px;
  border: 1px solid black;
  margin: 5px;
  font-weight: bold;
}

.cityButton:focus {
  background-color: lightblue;
}

.cityInput {
  margin: 5px;
  margin-right: 3px;
}

.addCityButton {
  padding-left: 8px;
  padding-right: 8px;
}